.cart-item {
  display: flex !important;
  justify-content: space-between !important;

  &__name {
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__img {
    width: 46px;
  }

  &__middle {

  }

  &__qty {

  }

  &__total {

  }
}